NodeRED/node-red.txt
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"b330b0f5.ad8ab","type":"tab","label":"project_iot","disabled":false,"info":""\},\{"id":"f3cacd07.b0bfe","type":"http in","z":"b330b0f5.ad8ab","name":"","url":"/co_status","method":"post","upload":false,"swaggerDoc":"","x":200,"y":160,"wires":[["fb95718d.83bfa","39822e2c.381832"]]\},\{"id":"f4d24f24.f9aa2","type":"http in","z":"b330b0f5.ad8ab","name":"","url":"/co_status","method":"get","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["d3522afe.b9fb98"]]\},\{"id":"fb95718d.83bfa","type":"http response","z":"b330b0f5.ad8ab","name":"","statusCode":"","headers":\{\},"x":430,"y":220,"wires":[]\},\{"id":"d3522afe.b9fb98","type":"mongodb in","z":"b330b0f5.ad8ab","mongodb":"8b7f9e0d.d518e","name":"","collection":"project","operation":"find","x":190,"y":260,"wires":[["fb95718d.83bfa"]]\},\{"id":"42f947af.2c9f58","type":"mongodb out","z":"b330b0f5.ad8ab","mongodb":"8b7f9e0d.d518e","name":"","collection":"project","payonly":true,"upsert":false,"multi":false,"operation":"store","x":930,"y":240,"wires":[]\},\{"id":"7474ebff.828d64","type":"function","z":"b330b0f5.ad8ab","name":"gen_time","func":"var dt = new Date(msg.payload);\\n\\n// var tmp = \{'payload':' \\"date\\":'+dt.getFullYear()+\\"\\"+\\n//     (dt.getMonth()+1)+\\"\\"+\\n//     dt.getDate()+''+\\n//     (dt.getHours()+7)+\\"\\"+\\n//     dt.getMinutes()+\\"\\"+\\n//     dt.getSeconds()+','\\n// \};\\n// var tmp = \{ 'payload' : '\\"date\\":\\"'+ new Date().toISOString()+ '\\",'\}\\nvar tmp =  \{ 'payload' : '\\"date\\":'+ new Date().getTime() + ','\}\\n\\n\\nglobal.set(\\"temp\\",tmp.payload);\\nreturn tmp;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["762a94cc.4ba2ec"]]\},\{"id":"72a62c7f.d262e4","type":"inject","z":"b330b0f5.ad8ab","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":60,"wires":[["7474ebff.828d64"]]\},\{"id":"762a94cc.4ba2ec","type":"debug","z":"b330b0f5.ad8ab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":60,"wires":[]\},\{"id":"972ff720.016558","type":"debug","z":"b330b0f5.ad8ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":160,"wires":[]\},\{"id":"39822e2c.381832","type":"function","z":"b330b0f5.ad8ab","name":"","func":"test = global.get(\\"temp\\")\\n\\nmsg.payload = '\{' + test  +  msg.payload + '\}'\\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["72c34ba.a1cefb4","b73023f9.9165"]]\},\{"id":"72c34ba.a1cefb4","type":"json","z":"b330b0f5.ad8ab","name":"","property":"payload","action":"","pretty":true,"x":630,"y":200,"wires":[["972ff720.016558","42f947af.2c9f58","615c32b5.ee2acc"]]\},\{"id":"b73023f9.9165","type":"debug","z":"b330b0f5.ad8ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":140,"wires":[]\},\{"id":"ab487a9d.46cad8","type":"function","z":"b330b0f5.ad8ab","name":"lon","func":"msg.payload = msg.payload.lon\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["95aed7bc.906cb8"]]\},\{"id":"615c32b5.ee2acc","type":"switch","z":"b330b0f5.ad8ab","name":"switch node","property":"payload.node","propertyType":"msg","rules":[\{"t":"eq","v":"1","vt":"str"\},\{"t":"eq","v":"2","vt":"str"\}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":480,"wires":[["ab487a9d.46cad8","7a5c5ed6.0f57f","bb0d2e84.77cea","e1e47bb9.d67588"],["4876a5d8.c0cc2c","ef972785.fdcf38","66bc7c13.57f644","fb22b651.52ed38"]]\},\{"id":"7a5c5ed6.0f57f","type":"function","z":"b330b0f5.ad8ab","name":"dust","func":"msg.payload = msg.payload.dust\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":440,"wires":[["d475834c.9ed64","56e49b12.d24ac4"]]\},\{"id":"fdf991c7.6a883","type":"ui_text","z":"b330b0f5.ad8ab","group":"64a46cd5.9a7bc4","order":0,"width":0,"height":0,"name":"","label":"Latitude","format":"\{\{msg.payload\}\}","layout":"row-spread","x":860,"y":360,"wires":[]\},\{"id":"bb0d2e84.77cea","type":"function","z":"b330b0f5.ad8ab","name":"lat","func":"msg.payload = msg.payload.lat\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":360,"wires":[["fdf991c7.6a883"]]\},\{"id":"95aed7bc.906cb8","type":"ui_text","z":"b330b0f5.ad8ab","group":"64a46cd5.9a7bc4","order":0,"width":0,"height":0,"name":"","label":"Longtitude","format":"\{\{msg.payload\}\}","layout":"row-spread","x":870,"y":400,"wires":[]\},\{"id":"d475834c.9ed64","type":"ui_chart","z":"b330b0f5.ad8ab","name":"","group":"64a46cd5.9a7bc4","order":0,"width":0,"height":0,"label":"Dust chart by Node 1 ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":440,"wires":[[],[]]\},\{"id":"56e49b12.d24ac4","type":"ui_gauge","z":"b330b0f5.ad8ab","name":"","group":"64a46cd5.9a7bc4","order":0,"width":0,"height":0,"gtype":"gage","title":"Dust gauge by Node 1","label":"\'b5g/m^3","format":"\{\{value\}\}","min":0,"max":"236","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":480,"wires":[]\},\{"id":"f3b1aaa2.dbf128","type":"inject","z":"b330b0f5.ad8ab","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":1050,"y":320,"wires":[["7d15988f.05be18"]]\},\{"id":"3c990360.53c3cc","type":"ui_template","z":"b330b0f5.ad8ab","group":"750904be.70577c","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\\"msg.payload | trusted\\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1400,"y":320,"wires":[[]]\},\{"id":"7d15988f.05be18","type":"template","z":"b330b0f5.ad8ab","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\\"../worldmap\\" height=500px ></iframe>","x":1220,"y":320,"wires":[["3c990360.53c3cc"]]\},\{"id":"e1e47bb9.d67588","type":"function","z":"b330b0f5.ad8ab","name":"","func":"// create random position\\n// var lat = 51 + Math.random() * 0.2;\\nvar lat = msg.payload.lat;\\n// var lon = -1.45 + Math.random() * 0.2;\\nvar lon = msg.payload.lon;\\nmsg.payload=\{lat:lat, lon:lon, name: \\"Node 1\\", icon:\\"male\\", url:\\"<a href=\\\\\\"../ui/#/0\\\\\\">SIIT link</a>\\"\};\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":320,"wires":[["6293ac04.a44964"]]\},\{"id":"6293ac04.a44964","type":"worldmap","z":"b330b0f5.ad8ab","name":"","lat":"14.065","lon":"100.6001","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"true","path":"","x":870,"y":320,"wires":[]\},\{"id":"66bc7c13.57f644","type":"function","z":"b330b0f5.ad8ab","name":"lon","func":"msg.payload = msg.payload.lon\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":700,"wires":[["995833a.11eb1d"]]\},\{"id":"fb22b651.52ed38","type":"function","z":"b330b0f5.ad8ab","name":"dust","func":"msg.payload = msg.payload.dust\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":740,"wires":[["a232210b.c0dd4","2d924163.5d5a4e"]]\},\{"id":"41fe8a9c.072c14","type":"ui_text","z":"b330b0f5.ad8ab","group":"3c733e31.e63ad2","order":0,"width":0,"height":0,"name":"","label":"Latitude","format":"\{\{msg.payload\}\}","layout":"row-spread","x":860,"y":660,"wires":[]\},\{"id":"ef972785.fdcf38","type":"function","z":"b330b0f5.ad8ab","name":"lat","func":"msg.payload = msg.payload.lat\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":660,"wires":[["41fe8a9c.072c14"]]\},\{"id":"995833a.11eb1d","type":"ui_text","z":"b330b0f5.ad8ab","group":"3c733e31.e63ad2","order":0,"width":0,"height":0,"name":"","label":"Longtitude","format":"\{\{msg.payload\}\}","layout":"row-spread","x":870,"y":700,"wires":[]\},\{"id":"a232210b.c0dd4","type":"ui_chart","z":"b330b0f5.ad8ab","name":"","group":"3c733e31.e63ad2","order":0,"width":0,"height":0,"label":"Dust chart by Node 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":740,"wires":[[],[]]\},\{"id":"2d924163.5d5a4e","type":"ui_gauge","z":"b330b0f5.ad8ab","name":"","group":"3c733e31.e63ad2","order":0,"width":0,"height":0,"gtype":"gage","title":"Dust gauge by Node 2","label":"\'b5g/m^3","format":"\{\{value\}\}","min":0,"max":"236","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":780,"wires":[]\},\{"id":"ab86cc41.c5c49","type":"inject","z":"b330b0f5.ad8ab","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":1050,"y":620,"wires":[["b38e31f3.e2937"]]\},\{"id":"5b64c363.f4c9ec","type":"ui_template","z":"b330b0f5.ad8ab","group":"5f6f1804.3690a8","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\\"msg.payload | trusted\\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1400,"y":620,"wires":[[]]\},\{"id":"b38e31f3.e2937","type":"template","z":"b330b0f5.ad8ab","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\\"../worldmap\\" height=500px ></iframe>","x":1220,"y":620,"wires":[["5b64c363.f4c9ec"]]\},\{"id":"4876a5d8.c0cc2c","type":"function","z":"b330b0f5.ad8ab","name":"","func":"// create random position\\n// var lat = 51 + Math.random() * 0.2;\\nvar lat = msg.payload.lat;\\n// var lon = -1.45 + Math.random() * 0.2;\\nvar lon = msg.payload.lon;\\nmsg.payload=\{lat:lat, lon:lon, name: \\"Node 1\\", icon:\\"male\\", url:\\"<a href=\\\\\\"../ui/#/0\\\\\\">SIIT link</a>\\"\};\\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":620,"wires":[["bf3883cb.1fd9d"]]\},\{"id":"bf3883cb.1fd9d","type":"worldmap","z":"b330b0f5.ad8ab","name":"","lat":"14.065","lon":"100.6001","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"true","path":"","x":870,"y":620,"wires":[]\},\{"id":"8b7f9e0d.d518e","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iotdb","name":""\},\{"id":"64a46cd5.9a7bc4","type":"ui_group","z":"","name":"Node 1","tab":"6dd0a595.1b59bc","disp":true,"width":"6","collapse":false\},\{"id":"750904be.70577c","type":"ui_group","z":"","name":"Map","tab":"6dd0a595.1b59bc","order":2,"disp":true,"width":"6","collapse":false\},\{"id":"3c733e31.e63ad2","type":"ui_group","z":"","name":"Node 2","tab":"a910f90a.eeae08","disp":true,"width":"6","collapse":false\},\{"id":"5f6f1804.3690a8","type":"ui_group","z":"","name":"Map","tab":"a910f90a.eeae08","order":2,"disp":true,"width":"6","collapse":false\},\{"id":"6dd0a595.1b59bc","type":"ui_tab","z":"","name":"Node 1","icon":"dashboard"\},\{"id":"a910f90a.eeae08","type":"ui_tab","z":"","name":"Node 2","icon":"dashboard"\}]}